[submodule "pathfindingVisualizer"]
	path = pathfindingVisualizer
	url = https://github.com/alexthehaszard/pathfindingAlgorithm.git
[submodule "jacks"]
	path = jacks
	url = https://github.com/alexthehaszard/jacks
[submodule "cubeTimer"]
	path = cubeTimer
	url = https://github.com/alexthehaszard/cubeTimer.git
[submodule "conways-game-of-life"]
	path = conways-game-of-life
	url = https://github.com/alexthehaszard/conways-game-of-life.git
