[submodule "pathfindingVisualizer"]
	path = pathfindingVisualizer
	url = https://github.com/alexthehaszard/pathfindingAlgorithm.git
[submodule "jacks"]
	path = jacks
	url = https://github.com/alexthehaszard/jacks.git
