body {
    background-color: #E2B6CF;
    padding: 0;
    margin: 0;
}

html {
    height: -webkit-fill-available;
    font-family: "Muli";
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: max-content;
    background-image: linear-gradient(#E365C1, #E396DF);
}

#navBar {
    position: sticky;
    min-width: 100%;
    height: 7vh;
    background-color: #E396DF;
}

#headerText {
    text-align: center;
    font-size: 5vh;
    margin: 0;
    padding-top: 2.5vh;
    transform: translateY(-25%);
}

#projects {
    display: flex;
    margin-top: 2vw;
    justify-content: center;
    font-size: 1.5vw;
}

#poigenphoto {
    width: 400px;
    border-radius: 5%;
    margin-bottom: 10px;
}