html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  height: 100%;
}

canvas {
  display: block;
}

body {
  background: linear-gradient(-55deg, #752216, #5c415d);
}

p {
  position: relative;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
  font-size: min(3vw, 0.8rem);
}

nav p:hover {
  transition: color 0.5s ease;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

nav a {
  cursor: default;
}

.buttons:focus {
  outline: none;
}

.buttons {
  transition: background 0.3s ease;
  background: rgba(0, 0, 0, 0.1);
  border: white solid 1px;
  width: max-content;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 50ch;
  margin-left: 5px;
  margin-right: 5px;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: max-content;
  align-items: center;
  justify-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.secondary-nav {
  font-size: min(3vw, 1rem);
  margin: 0;
  height: max-content;
  width: max-content;
}

.content-header {
  top: 25px;
  font-size: 2rem;
}

.content-text {
  font-weight: 500;
}

.content-button {
  margin-bottom: 10px;
}

.buttons:hover {
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.project-card {
  background: rgba(0, 0, 0, 0.5);
  width: 90%;
  margin: 1%;
  padding: 10px;
  border-radius: 12px;
}

.project-image {
  width: 90%;
  margin-left: 5%;
  border-radius: 8px;
}

.project-image:hover {
  cursor: pointer;
}

.project-buttons {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.link {
  border: 1px solid white;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-radius: 0;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.link:hover {
  color: rgba(255, 255, 255, 0.8);
}

#outputText {
  font-size: min(4vw, 3rem);
}

#content {
  width: 60%;
  height: max-content;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 50px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 30px;
}

#projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30vh, 1fr));
  justify-content: center;
}

#projects #footer {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5px;
}

#footerText {
  font-weight: 500;
  margin: 30px;
}
