html, body {
  margin: 0;
  padding: 0;
  font-size: 3rem;
  background-image: linear-gradient(#C165DD, #5C27FE);
  min-height: -webkit-fill-available;
  overflow: hidden;
}

html {
  height: -webkit-fill-available;
}

.card-gradient {
  position: absolute;
  display: flex;
  flex-direction: column;
  min-width: max-content;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 30px 0px;
  background-image: linear-gradient(#C165DD, #5C27FE);
  border-radius: 0.25rem;
  border: 0px;
}

#poi {
  color: white;
}